header{
    font-style: none;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(85, 199, 70);
    
}

html{
    height: 100%;
}

.header_button:hover{
    color: white;

}

.header_button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

a{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;

}

body{
    background-color: rgb(37, 146, 64);
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 20px;
}

ul{
    font-size: 50px;
    text-decoration: none;
    list-style: none;
}

a{
    margin: 20px;
}

footer{
    background-color: rgb(228, 228, 228);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.div_login{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.form-group{
    border-radius: 5px;
    display: flex;
    margin: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

label{
    
    margin: 40px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.tabla_jugador{

    width: 100%;
    
}

.parte_de_arriba{

    display: flex;
    justify-content: space-around;

}

.parte_de_abajo{

    display: flex;
    justify-content: space-around;

}

th{
    font-size: 30px;
}

td{

    font-size: 30px;
    display: flex;
    justify-content: space-around;

}

.botones_editar{
    margin: 120px;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
   
}

.formulario{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    height: 110px;
  
}

.botones:hover{
    transition: 0.123s;
    color: white;
    padding: 5px;
}

.botones{
    
    font-size: 20px;
    text-align: center;
    height: 50px;
    padding: 10px;
    background-color: rgb(95, 120, 124);
    border-radius: 10px;
}

.formAgregarClub{
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    margin: 20px;
    width: 300px;
    justify-content: space-evenly;
    flex-direction: column;
}

.form{

    width: 500px;
    background: #212822b3;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
    
}

.lista{
    width: 500px;
    background: #7c9780;
    padding: 50px;
    margin:10px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;

}


.formJugador{
    width: 400px;
    background: #212822b3;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
    display: flex;
    flex-direction:column;
    justify-content: stretch;
}

.form-editar-club{
    width: 500px;
    background: #212822b3;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.palabraEditarClub{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.form-agregar-club{
    width: 400px;
    background: #212822b3;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
    display: flex;
    flex-direction:column;
    justify-content: stretch;

}

.box-jugadores{
    width: 600px;
    background: #7cba85;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
    display: flex;
    justify-content: stretch;

}

input{
    margin: 10px;
}

button{
    margin: 10px;
}